<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
  </style>
</head>
<body>
  <div class="box">
    <h1>Todo List</h1>
  </div>
  <div class="box">
    <% ejes.forEach((item, i) => { %>
        <div class="item">
            <input type="checkbox">
            <span class="task-text"><%= ejes[i] %></span>
            <div class="actions">
                <button class="edit-btn">✏️</button>
                <button class="delete-btn">🗑️</button>
            </div>
        </div>
    <% }) %> 

    <form action="/add" method="POST">
      <input type="text" name="ele1" placeholder="Enter the text">
      <button type="submit">+</button>
    </form>
  </div>
</body>
</html>